.main-menu__item {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ff0000;
}

.main-menu__item_current {
    color: #00ff00;
}

.main-menu__item:hover {
    border-color: #00ff00;
}